# --- Compiled Binaries & Output Files ---
**/a.out
**/*.o
**/*.out
**/*.gch
**/*.app

# --- Python & Environment Junk ---
.venv/
__pycache__/
*.pyc
.python-version
.editorconfig

# --- Personal Testers (Optional but recommended for 42) ---
**/main.c

# --- OS Specific Junk ---
.DS_Store
Thumbs.db

# Security / SSH Keys
**/id_rsa_pub
**/*.pub
